
body, html {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}


#container {
  background: linear-gradient(to right, #a2d4f3, #68bde1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
  height: 550px;
}


h2 {
  margin-top: 0;
  font-size: 24px;
}


input[type="number"], input[type="submit"], input[type="reset"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}


.botoes {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 35px;
  

}
input[type="submit"], input[type="reset"]{
    cursor: pointer;
}
#bimc{
    width: 200px;
}
#aviso{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}